In [287]:
import pandas as pd

# Sample data for sales records
data = {
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
    'Product Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Sales Date': ['2023-01-05', '2023-01-10', '2023-01-08', '2023-01-12',
                   '2023-01-03', '2023-01-18', '2023-01-20', '2023-01-25'],
    'Units Sold': [100, 150, 80, 90, 120, 100, 200, 180],
    'Revenue': [5000, 7500, 4000, 4500, 6000, 5000, 10000, 9000]
}

# Creating a Pandas DataFrame
sales_df = pd.DataFrame(data)
sales_df["Revenue"]=sales_df["Revenue"].astype(int)
sales_df["Units Sold"]=sales_df["Units Sold"].astype(int)

# Converting 'Sales Date' to datetime format
sales_df['Sales Date'] = pd.to_datetime(sales_df['Sales Date'])
sales_df2=pd.DataFrame(sales_df.groupby("Product Category")["Revenue"].mean()).reset_index()
sales_df3=pd.DataFrame(sales_df.groupby("Sales Date")["Units Sold"].mean()).reset_index()
rev2=df["Units Sold"]*df["Revenue"]
print(sales_df3)
print(sales_df2)
top3=sales_df.nlargest(3,"Revenue").reset_index()
top3
df["2ndRev"]=rev2
df

  Sales Date  Units Sold
0 2023-01-03       120.0
1 2023-01-05       100.0
2 2023-01-08        80.0
3 2023-01-10       150.0
4 2023-01-12        90.0
5 2023-01-18       100.0
6 2023-01-20       200.0
7 2023-01-25       180.0
  Product Category  Revenue
0                A   6250.0
1                B   6500.0

   Date Product  Units Sold  Revenue   2ndRev
0     1       A          32     4234   135488
1     2       B         123     2442   300366
2     3       C         234      424    99216
3     4       D         322    21421  6897562
4     5       E        2421      344   832824

In [296]:
from abc import ABC,abstractmethod
class aaap(ABC):
    def __init__(self,id,name):
        self.name=name
        self.id=id
    @abstractmethod
    def getInfo():
        pass
class apkabachaa(aaap):
    def __init__(self,id,name,ghar):
        super().__init__(id,name)
        self.ghar=ghar
    def getInfo(self):
        print(f"{self.name} || {self.id} || {self.ghar}")

apk=apkabachaa(1,"qdwq","ajeeb")
apk.getInfo()

qdwq || 1 || ajeeb

In [326]:
import pandas as pd
import matplotlib.pyplot as plt
# Sample dataset as a dictionary
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Product': ['A', 'B', 'A', 'C', 'B'],
    'Quantity': [15, 8, 12, 5, 10],
    'Price': [20.0, 15.0, 18.0, 25.0, 12.0],
    'Region': ['North', 'South', 'North', 'West', 'North']
}

# Create a DataFrame
sales_data = pd.DataFrame(data)
sales_data["Total Sales"] = sales_data["Quantity"]*sales_data["Price"]
d1=sales_data[sales_data["Region"]=="North"]


# plt.bar(d1["Product"],d1["Total Sales"])
# plt.show()
avg=sales_data.groupby("Product")["Price"].sum()/sales_data.groupby("Product")["Quantity"].sum()
sales_data
avg=avg.reset_index()
sales_data=pd.merge(sales_data,avg,on="Product")
sales_data=sales_data.rename(columns={"0":"Average Sales"})
print(sales_data)

         Date Product  Quantity  Price Region  Total Sales         0
0  2023-01-01       A        15   20.0  North        300.0  1.407407
1  2023-01-03       A        12   18.0  North        216.0  1.407407
2  2023-01-02       B         8   15.0  South        120.0  1.500000
3  2023-01-05       B        10   12.0  North        120.0  1.500000
4  2023-01-04       C         5   25.0   West        125.0  5.000000

In [367]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
# Generate data for a 30-day experiment
start_date = datetime(2023, 1, 1)
num_days = 30

time_values = [start_date + timedelta(days=i) for i in range(num_days)]
temperature_values = [28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0]
pressure_values = [28.5, 29.0, 29.5, 30.0, 30.5, 8, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 67.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0]
concentration_values = [28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0]

# Create a DataFrame
experiment_data = pd.DataFrame({
    'Time': time_values,
    'Temperature': temperature_values,
    'Pressure': pressure_values,
    'Concentration': concentration_values,
})

# Calculate 'Volume' as the product of 'Temperature' and 'Pressure'
experiment_data['Volume'] = experiment_data['Temperature'] * experiment_data['Pressure']


# Display the DataFrame
experiment_data=experiment_data[experiment_data["Concentration"]>30].reset_index(drop=True)
# plt.plot(experiment_data["Temperature"],experiment_data["Time"],color="red",marker="*")
# plt.plot(experiment_data["Pressure"],experiment_data["Time"],color="blue",marker="o")
# plt.legend()
# plt.show()
numericalcols=experiment_data.drop(columns=["Time"])
corr=pd.DataFrame(np.corrcoef(numericalcols))
max_indices = np.unravel_index(np.argmax(corr), corr.shape)
y
# print(corr)
# print(experiment_data)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24],
           dtype='int64')